h2 {
  padding: 1rem;
  font-weight: 400;
}
/*
.filtros > :last-child {
  background-color: rgb(75, 171, 190);
}
.filtros img {
  width: 1rem;
  display: block;
}
.filtro {
  position: absolute;
  border-radius: 0.5rem;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 20rem;
  padding: 0.5rem;
  display: none;
}
.filtros:hover > :first-child ~ ul {
  display: flex;
  background: rgb(243, 243, 243);
} */
.container_filtros{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filtros{
  position: relative;
  border-radius: 0.5rem;
  background: rgb(243, 243, 243);
  transition: 500ms;
  cursor: pointer;
  border: 0;
}
.filtros:hover{
  transform: scale(1.05);
}
.option{
  position: absolute;
  border: 1px solid;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 5rem;
  max-width: 15rem;
  list-style: none;
}
.filtros:hover .option{
  display: flex;

}