h2 {
  padding: 1rem;
  font-weight: 400;
}
.container_filtros {
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.filtros > :first-child {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background: rgb(243, 243, 243);
  display: flex;
  transition: 500ms;
  cursor: pointer;
  border: 0;
}
.cat:hover {
  transform: scale(1.05);
}
.filtros > :last-child {
  background-color: rgb(75, 171, 190);
}
.filtros img {
  width: 1rem;
  display: block;
}
.filtro {
  position: absolute;
  border-radius: 0.5rem;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 20rem;
  padding: 0.5rem;
  display: none;
}
.filtros:hover > :first-child ~ ul {
  display: flex;
  background: rgb(243, 243, 243);
}
