img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.cabecera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  padding: 1rem 0;
}
.foto {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid;
}
.datos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.usuario {
  font-size: 2rem;
  font-weight: 350;
}
.seguidores {
  display: flex;
  gap: 1rem;
}
.seguidores > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seguidores div,
.correo {
  font-weight: 200;
}
.seguidores label {
  font-weight: 400;
}
.seccion {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  gap: 1rem;
}
.categoria_box {
  display: flex;
  font-size: 1rem;
  font-family: "Poppins", "sans-serif";
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card,
.card img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: end;
  align-items: start;
  margin: 10px 0px;
  position: relative;
  transition: 0.8s;
  height: 15.625rem;
  width: 10.4rem;
}
.card:hover {
  transform: scale(1.03);
}
.card img {
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.criticas {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.critica {
  display: flex;
  justify-content: space-between;
  background: rgb(243, 243, 243);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 0.5rem;
}
.comentario {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10.4rem);
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}
.critica img {
  height: 15.625rem;
  width: 10.4rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.comentario_datos {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.like,
.like > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.titulo{
    font-size: 2rem;
}
.reply{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.reply .comentario{
  background: rgb(243, 243, 243);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
