<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://www.unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
		<link rel="stylesheet" href="{{asset('css/nav.css')}}"/>
		<script language="javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		
		{% block css %}{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "nav.html.twig" %}
		{% block body %}{% endblock %}
	</body>
</html>
