<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap" rel="stylesheet"/>
		<link rel="stylesheet" href="https://www.unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
		<link rel="stylesheet" href="{{asset('css/nav.css')}}"/>
		<script language="javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="{{asset("js/nav.js")}}" defer></script>
		<link
		rel="shortcut icon" href="{{asset("iconos/logo.png")}}" type="image/x-icon">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block css %}{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include "nav.html.twig" %}
		{% block body %}{% endblock %}
	</body>
</html>
