<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script language="javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <!-- Se debe crear la critica, like por request -->
    <div>
            Comentario <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Publicar</button>
    <br>
<br>
    <div class="comentario">
        <strong>Comentario 1</strong>
        <div style="width: 400px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae optio laboriosam at natus necessitatibus quia obcaecati rem, culpa quas aperiam voluptas numquam laborum animi omnis quam hic voluptatum soluta totam!</div>
        <div style="color:blue;">Like</div>
        <div style="color:blue;" id="comentar"">comentar</div>
     </div>
     <script>
        $("#comentar").click(function(){
            $(".comentario").append($("<div>Comentario <textarea name='' id='' cols='30' rows='10'></textarea><button>Publicar</button></div>"))
        })
     </script>
</body>
</html>